.card {
  //width: 24%;
  width: 260px;
  height: 400px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  transition: .3s;
  //cursor: pointer;
  display: flex;
  flex-direction: column;
  z-index: 9;

  .description {
    color: #222;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;

    span {
      position: absolute;
      top: 12px;
      right: 12px;
      font-size: 24px;
      cursor: pointer;
    }

    h3 {
      margin: 0;
    }
  }

  &.pro {
    color: white;
    transition: 0.3s;
    //background: linear-gradient(180deg, #121562 0%, #5D6694 100%);
    background: linear-gradient(160deg, #121562, #5d6694, #c50);
    background-size: 400% 400%;
    -webkit-animation: ProGradient 8s ease infinite;
    -moz-animation: ProGradient 8s ease infinite;
    -o-animation: ProGradient 8s ease infinite;
    animation: ProGradient 8s ease infinite;

    .info .top span {
      color: #999999;
    }

    .description {
      color: white;
    }

    @-webkit-keyframes ProGradient {
      0% {
        background-position: 0 24%
      }
      50% {
        background-position: 100% 77%
      }
      100% {
        background-position: 0 24%
      }
    }
    @-moz-keyframes ProGradient {
      0% {
        background-position: 0 24%
      }
      50% {
        background-position: 100% 77%
      }
      100% {
        background-position: 0 24%
      }
    }
    @-o-keyframes ProGradient {
      0% {
        background-position: 0 24%
      }
      50% {
        background-position: 100% 77%
      }
      100% {
        background-position: 0 24%
      }
    }
    @keyframes ProGradient {
      0% {
        background-position: 0 24%
      }
      50% {
        background-position: 100% 77%
      }
      100% {
        background-position: 0 24%
      }
    }
  }

  .plan {
    height: 180px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.start {
      background-color: #679AE7;
    }

    &.advanced {
      background-color: #E4D00A;
    }

    &.pro {
      background-color: black;
    }

    .advanced {
      height: 48%;
      border-radius: 14px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pro {
      height: 48%;
      border-radius: 14px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    //border: 2px solid yellow;
    flex: 1;

    .top {
      display: flex;
      flex-direction: column;
      text-align: start;
      padding-top: 18px;
      padding-left: 14px;
      //border: 1px solid black;

      h3 {
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 26px;
      }

      span {
        font-size: 16px;
        font-weight: 600;
        color: #333;
      }
    }

    //
    .bottom {
      //border: 1px solid black;
      display: flex;
      justify-content: space-between;
      padding-right: 14px;
      padding-bottom: 14px;
      padding-left: 14px;
      align-items: center;
      //position: relative;

      span {
        font-size: 12px;
        cursor: pointer;
        text-decoration: underline dotted;
        //position: absolute;
      }

      button {
        background-color: #CC5500;
        color: white;
        font-size: 12px;
        width: 70px;
        text-align: center;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 4px;
        cursor: pointer;
        transition: .3s;
        //z-index: 999;
      }
    }
  }

  &:hover {
    scale: 1.06;

    .info .bottom button {
      width: 100px;
      padding: 8px 3px;
      border-radius: 16px;
      font-weight: 600;
      font-size: 14px;
    }

    //&.pro {
    //  background: linear-gradient(0deg, rgba(149,119,36,1) 0%, rgba(0,173,197,1) 0%, rgba(112,231,55,1) 100%);
    //}

    //border: ;
  }

  img {
    width: 50%;
    height: 50%;
  }

  @media screen and (max-width: 1152px) {
    width: 200px;
  }

  @media screen and (max-width: 962px) {
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 12px;

    .plan {
      width: 180px;
    }

    .description {
      flex: 1;
    }
  }
}

