@import "src/global/styles/variables";

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;

  h1 {
    color: #222;
    font-size: 80px;
    font-weight: 900;
    margin: 0;
  }

  p {
    color: #222;
  }

  &.start {
    background-image: url(../../assets/images/svg/bg/plan_start.svg);
  }

  &.advanced {
    background-image: url(../../assets/images/svg/bg/plan_advanced.svg);
  }

  &.pro {
    color: white;
    background-color: $secondary-colour-dark;
    background-image: url(../../assets/images/svg/bg/plan_pro.svg);

    h1 {
      color: white;
      font-size: 80px;
      font-weight: 900;
      margin: 0;
    }

    p {
      color: white;
    }
  }

  .purchase {
    display: flex;
    //border: 1px solid white;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    padding-left: 24px;

    span {
      font-weight: 600;
      font-size: 34px;
      margin-right: 10%;
    }
  }
}
