@import "src/global/styles/variables";

.card {
  border-radius: 32px;
  box-sizing: border-box;
  //padding: 20px;
  //padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 280px;
  background-color: $secondary-colour-dark;
  overflow: hidden;
  transition: .9s;

  &:hover {
    transform: scale(1.01);
  }
}
