@import 'src/global/styles/variables';

.card {
  border-radius: 16px;
  background-color: $primary-colour-light;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.dark {
    background-color: $secondary-colour-dark;

    a {
      color: white;
    }
  }

  .image {
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      border-radius: 16px;
    }
  }

  .info {
    //border: 1px solid white;
    flex: 1;
    display: flex;
  }
}
