.section {
    background-color: #CC5500;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionHeader h2 {
    font-weight: 900;
    color: white;
    font-size: 44px;
}

.plans {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.sectionBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sectionBottom img {
    width: 70%;
}
