.section {
    background-color: #CC5500;
    width: 100%;
    height: calc(100vh - 86px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //position: relative;

    @media screen and (max-width: 962px) {
        //padding: 60px 0;
        //height: calc(100vh - 86px);
        height: auto;
    }
}

.sectionHeader h2 {
    font-weight: 900;
    color: white;
    font-size: 44px;
}

.plans {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin-bottom: 40px;

    @media screen and (max-width: 962px){
        flex-direction: column;
        //padding: 30px;
    }

    //border: 2px solid white;
}

.sectionBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sectionBottom img {
    width: 70%;
    margin-bottom: 30px;
}
