@import "src/global/styles/variables";

.profile {
  //border: 1px solid white;

  .change {
    //border: 1px solid yellow;

    h4 {
      margin: 24px 0 12px;
    }

    input[type='file'] {
      //border: 1px solid white;
      width: 120px;
      //display: flex;
      //justify-content: center;
      //align-items: center;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::before {
        width: 76%;
        content: 'Select';
        padding: 8px 12px;
        border-radius: 12px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        border: 2px solid $secondary-colour-light;
        background-color: transparent;
        -webkit-user-select: none;
        color: #999999;
        font-weight: 600;
        outline: none;
        white-space: nowrap;
      }
    }

    input[type='text'] {
      outline: none;
      background-color: transparent;
      padding: 8px 12px;
      border-radius: 12px;
      border: 2px solid $secondary-colour-light;
      width: 240px;

      &.light {
        color: #222;
      }

      &.dark {
        color: white;
      }
    }
  }
}
