.form {
    display: flex;
    flex-direction: column;
    background-color: #36383E;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 24px;

    @media screen and (max-width: 1024px){
        width: 70%;
    }

    @media screen and (max-width: 702px){
        width: 80%;
    }

    @media screen and (max-width: 610px){
        width: 90%;
    }

    @media screen and (max-width: 610px){
        width: 96%;
    }

    /*border: 2px solid white;*/

    .login {
        height: 32%;
    }

    .register {
        height: 43%;
    }
}


.content {
    display: flex;
    flex-direction: column;

    .input {
        height: 60px;
        background-color: #242529;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        outline: none;
        margin-bottom: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-right: 22px;

        img {
            height: 24px;
        }

        input {
            height: 80%;
            width: 86%;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            font-weight: 600;
            font-size: 22px;


            &::placeholder {
                color: #36383E;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text{
            font-size: 18px;
            color: white;
            font-weight: 600;
            padding-left: 12px;
        }

        p {
            font-size: 14px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        span {
            color: #14FF00;
            text-decoration: underline;
            cursor: pointer;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 140px;
            border-radius: 20px;
            height: 32px;
            cursor: pointer;
            border: none;
            outline: none;
            background-color: #CC5500;
            color: white;
            font-weight: 600;
            font-size: 18px;
        }
    }
}
